---
import ContactForm from "./ContactForm.astro";
---
<div id="contact">
  <ContactForm 
    linkedin="http://linkedin.com/in/alyssaweiglein" 
    email="mailto:alyssaweiglein@gmail.com" 
  />
</div>
