<div class="flex">
  <div class="left">
    <a href="/">Alyssa Weiglein</a>
  </div>
  <div class="right">
    <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;
    <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <a href="" target="_blank"><i class="fa-brands fa-codepen"></i></a>&nbsp;
  </div>
</div>
<div class="flex">
  <div class="navlinks">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, at asperiores? Asperiores, voluptate corrupti debitis libero aliquid blanditiis nulla commodi!</p>
    <strong>Links:</strong>
    <a href="#about">About</a> | 
    <a href="#portfolio">Portfolio</a> | 
    <a href="#contact">Contact</a>
  </div>
</div>
<hr>
<div class="copyright">Alyssa Weiglein &#169; 2023. All rights reserved.</div>

<style>
  .flex {
    justify-content: space-between;  
    font-size: 24px;
  }

  p{
    font-size: .8em;
    max-width: 300px;
    margin-bottom: 10px;
  }
  .copyright {
    text-align: center;
    font-size: .7em;
    margin-top: 10px;
  }
  .navlinks {
    font-size: .6em;
    margin: 14px 0;
  }
  hr {
    opacity: .2;
  }
  a {
    color: rgb(80, 168, 124);
  }
  i {
    color: rgb(202, 240, 100);
  }
</style>