---
import FooterContent from "./FooterContent.astro";
---

<footer id="footer">
  <div class="container">
    <FooterContent />
  </div>
</footer>

<style>
  #footer {
    background-color: rgb(40, 44, 43);
    color: rgb(207, 207, 207);
  }

</style>