<nav>
  <div class="container flex">
    <div class="nav-left">
      <a href="/">Logo</a>
    </div>
    <div class="nav-right">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .flex {
    justify-content: space-between;
  }

  nav {
    
  }

  .nav-right a{
    margin-left: 20px;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }

  .nav-left {
  }

  .nav-right {
  }

</style>
