---
import ProjectCard from "./ProjectCard.astro";
---
<div id="projects">

  <ProjectCard 
    picture="https://4kwallpapers.com/images/walls/thumbs_3t/6639.jpg" 
    title="Project 1" 
    description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae maxime optio repudiandae non sequi eveniet quos numquam, est odio obcaecati!" 
    codelink="http://" 
    livelink="http://"
  />

  <ProjectCard 
    picture="https://4kwallpapers.com/images/walls/thumbs_3t/6639.jpg" 
    title="Project 2" 
    description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, accusamus." 
    codelink="http://" 
    livelink="http://"
  />
  
</div>

<style>
  
</style>
